.App {
  text-align: center;
}

.cat-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 10px 5px;
}

 .cat-img[alt]:after {  
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: #fff;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;  
  text-align: center;
  content: url(../public/no-cat.png);
} 

.cats-per-page {
  display: flex;
  flex-wrap: wrap;
  max-width: 100wv;
}

.cat-frame {
  margin: 20px;
  width: 250px;
  height: 250px;
}

#search {
  margin-bottom: 20px;
  margin-top: 20px;
}
